<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% include 'base.html' %}
{% block content %}
    <p>
        <strong>Nombre:</strong> {{ animal.nombre}} <br>
        <strong>Peso (Kg):</strong> {{ animal.peso }} <br>
        <strong>Color:</strong> {{ animal.color }} <br>
        <strong>Raza:</strong> {{tipo.raza}} <br>
        <strong>Pelaje:</strong> {{tipo.pelaje}} <br>
        <strong>Centro:</strong> <a href={% url 'Centro' tipo.centro.id %}>{{ tipo.centro.nombre }}</a>
        <br>
        {% if user.is_trabajador %}<a href="{% url 'edit_animal' animal.id %}">Editar animal</a> {% endif %}
    </p>
{% endblock %}