{% include 'base.html' %}
{% block title %} <h3> PetShelter - {{ centro.nombre }} </h3> {% endblock %}
{% block content %}
    <div vocab="https://schema.org/" >
        <span typeof="AnimalShelter">
            <span property="name">{{ centro.name }}</span>
            <span property="openingHours"><strong>Horario:</strong>
                <style>
                    table, th, td {
                        border:1px solid black;
                    }
                </style>
                <table style="width:30%">
                    {% for horario in horarios %}
                        {% if horario.abierto %}
                            <tr>
                                <td>{{horario.dia}}</td>
                                <td>{{horario.apertura}} a {{horario.cierre}}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </span>
            <span property="telephone"><strong>Telefono: </strong>{{centro.telefono}}</span><br>
            <span property="email"><strong>Correo: </strong> {{centro.correo}}</span><br>
            <span typeof="PostalAddress" property="address"><span property="streetAddress">
                <strong>Direccion: </strong> {{ centro.direccion }}
            </span></span><br>
            <span typeof="PostalAddress" property="address"><span property="postalCode">
                <strong>Codigo postal: </strong> {{centro.cp}}
            </span></span><br>
            <span property="priceRange"><strong>Donativos: </strong> dame dinero</span><br>
        </span>
    </div>
    {% if user.is_trabajador %}<a href="{% url 'edit_centro' centro.id %}">Editar centro</a>{% endif %}
{% endblock %}